<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DependancyServlet</servlet-name>
    <url-pattern>/dependancy.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DependancyServlet</display-name>
    <servlet-name>DependancyServlet</servlet-name>
    <servlet-class>com.kh.testSpring.di.controller.DependancyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DependancyServlet</servlet-name>
    <url-pattern>/DependancyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DependancyXMLServlet</servlet-name>
    <url-pattern>/xmlDI.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DependancyXMLServlet</display-name>
    <servlet-name>DependancyXMLServlet</servlet-name>
    <servlet-class>com.kh.testSpring.di.controller.DependancyXMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DependancyXMLServlet</servlet-name>
    <url-pattern>/DependancyXMLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DependancyAnnoServlet</display-name>
    <servlet-name>DependancyAnnoServlet</servlet-name>
    <servlet-class>com.kh.testSpring.di.controller.DependancyAnnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DependancyAnnoServlet</servlet-name>
    <url-pattern>/annoDI.do</url-pattern>
  </servlet-mapping>
</web-app>